.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

button {
  background-color: #FF007F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease;
  position: relative;
  border-radius: 15px;
  /*box-shadow: 2px 0px 6px #E60072; 4px 4px 2px #f576b6b6;*/   
}

button:hover {
  transform: translate(-2px, -2px);
  /*box-shadow: 4px 4px 2px #f576b6b6; 6px 6px 0px #f576b6b6; */
  background-color: #E60072; 
}

.item-detail .card{
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  flex-direction: row; 
  align-items: center;
  gap: 2.5rem;
  padding: 40px;
  background: #ffffff; 
  /* box-shadow: 6px 6px 0px #98dff8c0; */
  transform: none;
  box-sizing: border-box;
}


.item-detail .card img {
  width: 100%; 
  max-width: 400px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  background: #fff;
}

.item-detail .card-info {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  text-align: left;
  flex: 1;
}

@media screen and (max-width:780px){
  .item-detail .card{
    flex-direction: column;
    padding: 20px;
    gap: 1.5rem;
    text-align: center;
    height: auto;
  }

  .item-detail .card img{
    max-width: 250px;
    height: auto;
    aspect-ratio: 1/1;
  }

  .item-detail .card-info{
    text-align: center;
    width: 100%;
  }
}