.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

button {
    background-color: #FF007F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
    position: relative;
    border-radius: 15px;

    /* Sombra dura de color (como en image_1.png) */
    box-shadow: 4px 4px 0px #f576b6b6;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #f576b6b6;
  background-color: #E60072; /* Un rosa ligeramente más oscuro */
}

.item-detail .card{
  display: flex;
  width: 100%;
  max-width: 900px;
  height: auto;
  flex-direction: row; /* Lo ponemos en horizontal */
  align-items: center;
  gap: 3rem;
  padding: 40px;
  background: #ffffff; 
  box-shadow: 6px 6px 0px #98dff8c0;
}

/* Cambiamos la imagen del Item solo en el detalle */
.item-detail .card img {
  width: 400px; /* Más grande para el detalle */
  height: 400px;
  object-fit: contain;
  background: #fff;
}

.item-detail .card-info {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  text-align: left;
}