.section-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.product-form{
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    background: white;
    border: 4px solid #fff;
    /* box-shadow: 6px 6px 0px #98dff8c0; */
    border-radius: 20px;
    padding: 20px;
    height: auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(152, 223, 248, 0.3);
    margin-top: 1.5rem;
    align-items: center;
}

.product-form h2{
    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "ELSH" 0;
}

div input, textarea{
    border-radius: 10px;
    padding: 5px 15px;
}

.btn-save{
    background-color: #0F7FD4;
    box-shadow: none;
    border: 3px solid transparent;
    display: table;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-save:hover{
    display: flex;
    background-color: #98dff8c0;
    box-shadow: none;
    border: 3px solid #0F7FD4;
    color: #0F7FD4;
    justify-content: center;
    transform: none;
}

label{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.btn-backtopanel{
    background-color: #E60072;
    box-shadow: none;
    border: 3px solid transparent;
    display: table;
    margin: 10px auto 0 auto;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
}

.btn-backtopanel:hover{
    display: table;
    background-color: #f856a7aa;
    box-shadow: none;
    border: 3px solid #E60072;
    color: #E60072;
    justify-content: center;
    transform: none;
}

/* VISTA DE ÉXITO */
.btn-newproduct{
    display: table;
    margin: 10px auto 0 auto;
    padding: 5px 15px;
    background-color: #0F7FD4;
    color: white;
    border: 2px solid #0F7FD4;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-newproduct:hover{
    background-color: #98dff8c0;
    border: 2px solid #0F7FD4;
    color: #0F7FD4;
    transform: none;
}

.geist-pixel-uniquifier {
    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "ELSH" 0;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

span{
    color: #E60072;
    font-style: italic;
}