 /* <weight>: Use a value from 400 to 700
 <uniquifier>: Use a unique and descriptive class name */

.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1{
  margin-top: 25px;
}

.geist-pixel-uniquifier {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  font-variation-settings:
  "ELSH" 0;
  font-size: 2.9rem;
  text-align: center;
  margin-top: 45px !important;
}

.hero-text{
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  font-size: 1.3rem;
  margin:8px;
}

.vinilo-hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinilo{
  width: 185px;
  animation: spin 5s linear infinite;
  transform-origin: center;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.hero{
  position: relative;
  overflow: hidden;
}

.star{
  position: absolute;
  color: #7cc8ff;
  font-size: 2.5rem;
  opacity: .8;
}

.star-1{
  top: 15%;
  left: 10%;
}

.star-2{
  top: 35%;
  right: 12%;
}

.star-3{
  bottom: 18%;
  left: 18%;
}

.star-4{
  bottom: 8%;
  right: 18%;
}