header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 60px;
  box-shadow: 6px 6px 8px #98dff8c0;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.logo{
  width: 250px;
  height: 140px;
}